
* 
 {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;

 }

 
body {

    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: whitesmoke;
   
}


#backbtn i{

    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: black;
    padding:9px;
    border-radius: 40px;
    
    }
    
    #backbtn i:hover{
    
        color: white;
        background-color: black;
    }

    
.row {
    background-color: white;
    border-radius: 30px;
    margin-top: 90px;
    margin-bottom: 15px;
    box-shadow: 12px 12px 22px grey ;
}

#image1{

background-size: cover;  
border-top-left-radius:30px ;
border-bottom-left-radius:30px ;

}



.topText {
    font-size: 45px;
    font-weight:700;
}

.form-control{

padding: 15px ;
width: 100%;


}

.btn {

    width: 100%;
    background-color: black;
    padding: 15px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    border-color: black;

    margin-top: 15px;
    margin-bottom: 15px;
}


.btn:hover{

    border-color: black;
}







/*


DRAFT

* 
 {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;

 }

 
body {

    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: whitesmoke;
   
}


.row {
    background-color: white;
    border-radius: 30px;
    margin-top: 90px;
    margin-bottom: 15px;
    box-shadow: 12px 12px 22px grey ;
}

#image1{

background-size: cover;  
border-top-left-radius:30px ;
border-bottom-left-radius:30px ;

}


/*

#registerForm{

   padding-left: 40px;
   padding-top: 20px;
}

*/

.topText {
    font-size: 45px;
    font-weight:700;
}

.form-control{

padding: 15px ;
width: 100%;


}

.btn {

    width: 100%;
    background-color: black;
    padding: 15px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    border-color: black;

    margin-top: 15px;
    margin-bottom: 15px;
}


.btn:hover{

    border-color: black;
}













/*
.container {
   
    display: flex;
    min-height: 100vh;
    align-content: center;
    align-items: center;   /* Vertically align the items */
   /* padding: 40px 30px 40px 30px;
    border: 2px solid black;
}
/*
.first{

    background-image: url('../img/loginimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    align-self: 50%;
}


.second{

    border: 2px solid rgb(194, 29, 29);
      background-color: rgb(227, 182, 182);
  
      align-self: 40%;
  
  }
  
/*
.first{

    padding: px;
    flex-basis: 50%;
    align-self: flex-start;
    border: 2px solid black;

}

.second{

  border: 2px solid rgb(194, 29, 29);
    background-color: rgb(227, 182, 182);



}



.registerForm{

    display: flex;
    justify-content: space-between;

}
*/



/*

<style>

* 
{
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;

}


body {

    margin: 0px;
    border: 0px;
    padding: 0px;
    background: #3a7642;

} 

</style>


*/


