
* 
 {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;

 }

/* Register Style */
body {

    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: whitesmoke;
   
}


#backbtn i{

position: absolute;
top: 15px;
left: 20px;
font-size: 30px;
cursor: pointer;
color: black;
padding:9px;
border-radius: 40px;

}

#backbtn i:hover{

    color: white;
    background-color: black;

}


#row {
    background-color: white;
    border-radius: 30px;
    margin-top: 37px;
    margin-bottom: 15px;
    box-shadow: 12px 12px 22px grey ;
}


#image1 {

background-size: cover;  
border-top-left-radius:30px ;
border-bottom-left-radius:30px ;

}




.topText {
    font-size: 45px;
    font-weight:700;
}

.form-control{

padding: 15px ;
width: 100%;

}

.btn {

    width: 100%;
    background-color: black;
    padding: 15px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    border-color: black;

    margin-top: 15px;
    margin-bottom: 15px;
}


.btn:hover{

    border-color: black;
}


/* Styling for the 'First Name' input */
#firstName {

    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 12px ;
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%;
   
}





/* Styling for the 'Last Name' input */
#lastName {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%;
   
}


/* Styling for the 'Age' input */
#age {

    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%;
  
}



/* Styling for the 'Email' input */
#email {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%;
   
}



